CONFIG_ENV=Profiles/codename_rom_template.env

DEVICE_NAME=Redmi_9T
DEVICE_CODENAME=chime

CUSTOM_CMDS:CLANG_TRIPLE=aarch64-linux-gnu-
EXTRA_CMDS:LD=ld.lld LLVM=1 LLVM_IAS=1

# Kernel fany0r - branch MAIN (đúng)
KERNEL_SOURCE=https://github.com/fany0r/android_kernel_xiaomi_sm6115.git
KERNEL_BRANCH=main

CLANG_SOURCE=https://github.com/ZyCromerZ/Clang/releases/download/23.0.0git-20260130-release/Clang-23.0.0git-20260130.tar.gz
CLANG_BRANCH=

GCC_GNU=false
GCC_64_SOURCE=
GCC_64_BRANCH=
GCC_32_SOURCE=
GCC_32_BRANCH=

DEFCONFIG_SOURCE=
DEFCONFIG_NAME=vendor/chime_defconfig
DEFCONFIG_ORIGIN_DEFCONFIG=

KERNELSU_SOURCE=https://raw.githubusercontent.com/rsuntk/KernelSU/refs/heads/main/kernel/setup.sh
KERNELSU_BRANCH=main
KERNELSU_NAME=KernelSU

# SUSFS cho Android 16
SUSFS_ENABLE=true
SUSFS_FIXED=false
SUSFS_UPDATE=true

AK3_SOURCE=https://github.com/osm0sis/AnyKernel3.git
AK3_BRANCH=master

LXC_ENABLE=false

HAVE_NO_DTBO=false
HAVE_NO_DTBO_TOOL=false

ROM_TEXT=Android16_fany0r_KernelSU_SUSFS
